<div class="content-container">
<h1>Resultaten van de <%= @test.title %></h1>
<% if @results.count === 1 %>
	<h2><%= @results.count %> Persoon heeft de test gedaan</h2>
<% elsif @results.count > 1 %>
	<h2><%= @results.count %> Mensen hebben de test gedaan</h2>
<% end %>

	<div class="abresult_container">
		<% @uploads.each_with_index do |p, index| %>
			<div class="abresult">
			<%= image_tag p.photo_url, :class => "abChoice", :data => {:ab => index} %>
				<div class="aboverlay">
				<% if index == 0 %>
					<%= abtest_count.at(0) %>
				<% elsif index == 1 %>
					<%= abtest_count.at(1) %>
				<% end %>
				</div>
			</div>
 		<% end %>
		</div>

	<table id="results" width="100%">
		<thead>
			<tr>
				<td>Nummer</td>
				<td>Datum</td>
				<td>Browser</td>
				<td>IP</td>
				<td>Resolutie</td>
				<td>Welke vind je beter?</td>
			</tr>
		</thead>
		<tbody>
	
			 <% @results.each do |r| %>
				<% if r.testperson %>
					<tr>
						<td><%= r.testperson.id %></td>
					<td><%= r.testperson.created_at.strftime("%m/%d/%Y om %I:%M%p") %></td>
					 	<td><%= r.testperson.browser %></td>
						<td><%= r.testperson.ip %></td>
					 	<td><%= r.testperson.width %> x <%= r.testperson.height %></td>
					 	<td><%= r.result["abtest"] %></td>
					</tr>
				<% end %>
			 <% end %>
		</tbody>
	</table>

</div>