<%= include_gon %>
<%= javascript_include_tag "methods.js" %>

<header>
    <div class="user">
        <div class="username">
            Deze test is gemaakt door:
            <span><%= @test.user.email %></span>
        </div>
    </div>

    <h3><%= @test.title %></h3>
</header>

<div id="timer" data-time="5"></div>

<div id="test">
    <div class="step" data-step="1">
        <h2>Stap 1</h2>
        <%= @test.introtext %>
        <p>Kies welke je het beste vindt, je hebt 10 seconden om te oordelen</p>

        <%= image_tag("instructions.png") %>
        <button class="btn nextButton">Begin met test</button>
    </div>

    <div class="step abtest" data-step="2">
            <div class="abcontainer">
                <h1 style="text-align:center; padding-bottom:10px;">Welke vind je beter?</h1>
                <% @uploads.each_with_index do |p, index| %>
                  <%= image_tag p.photo_url, :class => "abChoice", :data => {:ab => index} %>
                <% end %>
            </div>
    </div>
    
    <%= simple_form_for :result, :url => {:action => :create,  :controller => "results"}, :class => "simple_form" do |f|%>
        <%= f.hidden_field :abtest %>
        <%= f.input :testperson_id, :as => :hidden, :input_html => { :value => "" } %>
    <% end %>

    <div class="step" data-step="3">
        <h2>Einde test</h2>
        <p><%= @test.outrotext %></p>
    </div>
</div>