<%= include_gon %>
<%= javascript_include_tag "vague.js" %>
<%= javascript_include_tag "methods.js" %>

<header>
    <div class="user">
        <div class="username">
            Deze test is gemaakt door:
            <span><%= @test.user.email %></span>
        </div>
    </div>

    <h3><%= @test.title %></h3>
</header>

<div id="timer" data-time="10"></div>

<div id="test">
     <div class="step" data-step="1">
        <h2>Stap 1</h2>
        <p><%= @test.introtext %></p>
        <p>De afbeelding is onleesbaar gemaakt, probeer te onthouden wat je hebt gezien</p>

        <button class="btn nextButton">Begin met test</button>
    </div>

    <div class="step" data-step="2">
        <h2>Stap 2</h2>
        <%= image_tag(@test.product, :class => "blur") %>
    </div>

    <div class="step" data-step="3">
        <h2>Stap 3</h2>
        
        <label>
            Wat viel je het als eerst op?
            <textarea name="q1"></textarea>
        </label>

        <label>
            Wat heb je onthouden?
            <textarea name="q2"></textarea>
        </label>

        <button class="btn nextButton">Opslaan</button>
    </div>

     <div class="step" data-step="4">
        <h2>Stap 4</h2>
        <p><%= @test.outrotext %></p>
    </div>

</div>