<%= simple_form_for @test, :html=> { class: 'addform' } do |f| %>

	<% if @test.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @test.errors.full_messages.each do |msg| %>
				  <li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :titel %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label "Inleidende tekst" %>
		<%= f.text_area :introtext %>
	</p>
	<p>
		<%= f.label "Afsluitende tekst" %>
		<%= f.text_area :outrotext %>
	</p>
	<p>
		<%= f.label :testmethode %>
		<%= f.select :methodname, options_for_select([["Memory test", 1], ["Blur test", 2], ["Zwart wit test", 3],["Abtest", 4] ]) %>
	</p>
	<p>
      <%= f.label :product %><br>
      <%= f.file_field :product %>
  	</p>
	<p>
		<%= f.label "Begin datum" %>
		<%= f.date_select(:start_date) %>
	</p>
	<p>
		<%= f.label "Eind datum" %>
		<%= f.date_select(:end_date) %>
	</p>
	<p>
	<%= f.submit %>
	</p>
<% end %>
