<%= simple_form_for @test, :html=> { class: 'addform' } do |f| %>

	<% if @test.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @test.errors.full_messages.each do |msg| %>
				  <li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :titel %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label "Inleidende tekst" %>
		<%= f.text_area :introtext %>
	</p>

	<p>
		<%= f.label "Afsluitende tekst" %>
		<%= f.text_area :outrotext %>
	</p>
	<p>
		<%= f.label :testmethode %>
		<%= f.select :method_id, options_for_select([
				["Memory test", 1],
				["Blur test", 2],
				["Zwart wit test", 3],
				["Abtest", 4],
				["Onleesbaar test", 5]
			],:selected => 1) %>
	</p>

	<p>
		<%= f.label "Begin datum" %>
		<%= f.date_select(:start_date) %>
	</p>
	<p>
		<%= f.label "Eind datum" %>
		<%= f.date_select(:end_date) %>
	</p>

	<div class="singleImage">
		<p>
	      <%= f.label "Afbeelding" %><br>
	      <%= f.file_field :product %>
	  	</p>
  	</div>

  	<div class="multipleImages">
  		<h3> Selecteer voor een abtest twee afbeeldingen</h3>
		<%= f.fields_for :uploads do |p| %>
			<div class="field">
				<%= p.label "Afbeeldingen" %><br>
				<%= p.file_field :photo, :multiple => true, name: "uploads[photo][]" %>
			</div>
		<% end %>
  	</div>

	<div class="glyphtest">
	<h3> Onleesbaarheids test</h3>
	<p style="margin-bottom:10px; width:500px;">
	Voor de onleesbaarheids test worden extra velden verwacht, de testpersoon krijgt aan het einde van de test 3 opties voorgelegd, aan de hand van de opties kun je zien waar de gebruiker aan denkt bij het zien van jou design.
	<br/>
	</p>
			<p>
				<%= f.label "Eerste optie Onleesbaar test" %>
				<%= f.text_field :glyphoption1 %>
			</p>
			<p>
				<%= f.label "Tweede optie Onleesbaar test" %>
				<%= f.text_field :glyphoption2 %>
			</p>
			<p>
				<%= f.label "Derde optie Onleesbaar test" %>
				<%= f.text_field :glyphoption3 %>
			</p>
			<p>
		      <%= f.label "Link naar de website, zonder http://" %><br>
		      <%= f.text_field :url %>
		  	</p>
	</div>


	<p>
	<%= f.submit %>
	</p>
<% end %>
