<%= include_gon %>
<%= javascript_include_tag "methods.js" %>

<header>
    <div class="user">
        <div class="username">
            Deze test is gemaakt door:
            <span><%= @test.user.email %></span>
        </div>
    </div>

    <h3><%= @test.title %></h3>
</header>

<div id="timer" data-time="10"></div>

<div id="test">
	
    <div class="step" data-step="1">
        <h2>Stap 1</h2>
        <%= @test.introtext %>
        <p>Je hebt 10 seconden om de volgende afbeelding in je op te nemen.</p>

        <button class="btn nextButton">Begin met test</button>
    </div>

    <div class="step" data-step="2">
            <div class="abcontainer">
                <%= image_tag @test.product.url(:gray) %>
            </div>
    </div>

    <div class="step" data-step="3">
        <h2>Stap 3</h2>
        
         <label>
            Waar denk je dat deze afbeelding voor dient?
            <textarea name="q2"></textarea>
        </label>

        <button class="btn nextButton">Opslaan</button>
    </div>

    <div class="step well" data-step="4">
        <h1>Stap 4</h1>  
        <div class="endButton" data-end="true">Einde test</div>
    </div>  
</div>