<%= include_gon %>
<%= javascript_include_tag "methods.js" %>

<header>
    <div class="user">
        <div class="username">
            Deze test is gemaakt door:
            <span><%= @test.user.email %></span>
        </div>
    </div>

    <h3><%= @test.title %></h3>
</header>

<% if @test.test_time %>
    <div id="timer" data-time="<%= @test.test_time %>"></div>
<% else %>
    <div id="timer" data-time="3"></div>
<% end %>

<div id="test">
     <div class="step" data-step="1">
        <h2>Stap 1</h2>
        <p><%= @test.introtext %></p>
        <p>Er komt in een flits een afbeelding voorbij, probeer zoveel mogelijk te onthouden</p>

        <button class="btn nextButton">Begin met test</button>
    </div>

    <div class="step" data-step="2">
        <h2>Stap 2</h2>
        <%= image_tag(@test.product) %>
    </div>

    <div class="step" data-step="3">
        <h2>Stap 3</h2>
        
        <%= simple_form_for :result, :url => {:action => :create, :controller => "results"} do |f| %>
            
            <%= f.label "Wat viel je het als eerst op?" %>
            <%= f.text_area :q1 %>

            <%= f.label "Wat heb je onthouden?" %>
            <%= f.text_area :q2 %>

            <%= f.input :testperson_id, :as => :hidden, :input_html => { :value => "" } %>
            <%= f.submit "Opslaan" %>
        <% end %> 

    </div>

</div>