<h1> Overzicht van alle tests</h1>

<a href="javascript:void(0)" class='test'>Dit is leuk</a>

<div id="tests">
	<% @tests.each do |t| %>
	  <div class="test">
	    <%= t.title %>
	    <%= link_to "bekijken", usertest_path(t) %>
	    <%= link_to "bewerken", edit_usertest_path(t) %>
	    <%= link_to 'Verwijderen', usertest_path(t), method: :delete, data: { confirm: 'Weet je het heul zeker??' } %>
	  </div>
	<% end %>
</div>

<%= link_to "Nieuwe test toevoegen", new_usertest_path, class: "addButton" %>
