
<div class="content-container">
<%= link_to "Nieuwe test toevoegen", new_usertest_path, class: "btn_create" %>
 	<% @tests.each do |t| %>
		<div class="test">
			<div class="test-header">
				<h2><%= t.title %></h2>
				<h4><%= get_methodname(t.method_id) %></h4>
				<% if current_user.id == t.user_id %>
				<div class="actions">
					<%= link_to "Delen", share_usertest_path(t) %>
			    	<%= link_to "Resultaten bekijken", usertest_path(t) %>
			    	<%= link_to 'Verwijderen', usertest_path(t), method: :delete, data: { confirm: 'Weet je het zeker?' } %>
		    	</div>
		    <% end %>
			</div>
		</div>
	<% end %>
</div>


