<h1> Overzicht van alle tests</h1>

<div id="tests">
	<% @tests.each do |t| %>
	  <div class="test">
	    <%= t.title %>
	    <%= link_to "bekijken", usertest_path(t) %>
	    <%= link_to "bewerken", edit_usertest_path(t) %>
	    <%= link_to 'Verwijderen', usertest_path(t), method: :delete, data: { confirm: 'Weet je het heul zeker??' } %>

	    <% if t.status == false %>
	    	<p><%= button_to 'Publiceren', [:publish, t] , :remote => true, :id=>'publish' %></p>
	    <% end %>
	  </div>
	<% end %>
</div>

<%= link_to "Nieuwe test toevoegen", new_usertest_path, class: "addButton" %>