<% if !current_user %>
	<% if @test.method_id === 1 %>
		<%= render 'memory' %>
	<% elsif @test.method_id === 2 %>
	    <%= render 'blur' %>
    <% elsif @test.method_id === 3 %>
	    <%= render 'grayscale' %>
	<% elsif @test.method_id === 4 %>
	   <%= render 'abtest' %>
	<% elsif @test.method_id === 5 %>
	   <%= render 'glyphtest' %>
	<% end %>
<% else %>

<h1> Resultaten </h1>
 <% @results.each do |r| %>

	<%= r.testperson.id %>
 	<%= r.testperson.created_at %>
 	<%= r.testperson.browser %>
 	<%= r.testperson.os %>
 	<%= r.testperson.ip %>
 	<%= r.testperson.width %>
 	<%= r.testperson.height %>
	<%= r.result["q1"] %>
	<%= r.result["q2"] %>
 <% end %>

<% end %>

