<h1><%=  @test.title %> </h1>

<h1><%=  @test.start_date.to_formatted_s(:month_and_day_and_year) %> </h1>

<h1><%=  @test.end_date.to_formatted_s(:month_and_day_and_year) %> </h1>
<%=raw @test.introtext %> 


<%= link_to "bewerken", edit_usertest_path(@test) %>

<%= link_to "Terug naar overzicht", usertests_path() %>
