<h1>Listing association_attachments</h1>

<table>
  <thead>
    <tr>
      <th>Association test</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @association_attachments.each do |association_attachment| %>
      <tr>
        <td><%= association_attachment.association_test_id %></td>
        <td><%= association_attachment.image %></td>
        <td><%= link_to 'Show', association_attachment %></td>
        <td><%= link_to 'Edit', edit_association_attachment_path(association_attachment) %></td>
        <td><%= link_to 'Destroy', association_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Association attachment', new_association_attachment_path %>
