<h1> Overzicht van alle test methoden</h1>

<div id="testmethods">
	<% @testmethods.each do |t| %>
	  <div class="testmethod">
	    <%= t.name %>
	    <%= link_to "bekijken", testmethod_path(t) %>
	    <%= link_to "bewerken", edit_testmethod_path(t) %>
	    <%= link_to 'Verwijderen', testmethod_path(t), method: :delete, data: { confirm: 'Weet je het heul zeker??' } %>
	  </div>
	<% end %>
</div>

<%= link_to "Nieuwe testmethode toevoegen", new_testmethod_path, class: "addButton" %>
