<%= form_for(@association_test, :html => { :multipart => true }) do |f| %>
  <% if @association_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@association_test.errors.count, "error") %> prohibited this association_test from being saved:</h2>

      <ul>
      <% @association_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :association_attachments do |p| %>
    <div class="field">
      <%= p.label :image %><br>
      <%= p.file_field :image, :multiple => true, name: "association_attachments[image][]" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>