<!DOCTYPE html>
<html>
<head>
  <title>GUT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <div id="header">
      <div class="logo">
        <label>GUT</label>
      </div>
      <div class="userdata">
        <%= image_tag avatar_url(current_user, 50), :class => "avatar" %>
        <div class="userinfo">
          <% if user_signed_in? %>
            <span class="name"><%= current_user.email %></span>.
          <%= link_to 'Profile', current_user %>  
          <%= link_to 'Profiel bewerken', edit_user_registration_path, :class => 'editprofile' %> |
          <%= link_to "Uitloggen", destroy_user_session_path, method: :delete, :class => 'editprofile'  %>
          <% else %>
            <%= link_to "Registreren", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Inloggen", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>
      </div>  
    </div>
    
    <div class="sidebar">
      <div class="menu">
        <a href="#" class="menu_btn active"><i class="dashboard_icon"></i><span>Dashboard</span></a>
        <a href="#" class="menu_btn"><i class="finished_icon"></i>Gepubliceerde testen</a>
        <a href="#" class="menu_btn"><i class="tips_icon"></i>Afgeronde testen</a>
      </div>
    </div>
    
    <%= yield %>

</body>
</html>
